!!!
%html
  %head
    %title TwitterCrow
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'

  %body
    .container
      .row
        %img.img-responsive{src: image_path('header.png')}
      .row
        - flash.each do |name, msg|
          = content_tag :div, msg, class: name

      .row
        =yield

    .footer
      .container
        .col-md-6
          -if current_page?('/')
            %p
              %a.btn.btn-xs.btn-info{href: about_path}
                %span.glyphicon.glyphicon-question-sign
                How does it work?
              
              - if current_user
                %a.btn.btn-xs.btn-danger{href: reset_session_path, 'data-no-turbolink' => true }
                  %span.glyphicon.glyphicon-trash
                  Delete all my data
          -elsif current_page? controller: :settings
            %a.btn.btn-xs.btn-primary{href: '/'}
              %span.glyphicon.glyphicon-arrow-left
              Back to Main Page
        .col-md-6
          %span.pull-right>
            %p
              - if !current_page? controller: :settings
                %a.btn.btn-xs.btn-default{href: '/settings'}
                  %span.glyphicon.glyphicon-wrench
                  Parameters
              %a.btn.btn-xs.btn-default{href: 'http://taufderl.de'}
                %span.glyphicon.glyphicon-copyright-mark
                Tim auf der Landwehr 2014
              %a.btn.btn-xs.btn-default{href: 'https://github.com/taufderl/twitter-crow'}
                %span.glyphicon.glyphicon-folder-open
                Code on GitHub

